# Created by .ignore support plugin (hsz.mobi)
.mvn/
mvnw
mvnw.cmd
/restClient/
/com/
/base/.mvn/
/simpleorm/target/
/nacosconsumer/target/
/nacosconsumer2/target/
/nacosprovider/target/
/zipkin/target/
/base/target/
/turbine/target/
